<input type="text" id="ipServer" value="{{ config("server-ip") }}">

<div class="triplezone-wrapper">
    <div class="footer-triplezone" id="29239">
        <div class="footer-copyright">
            <p class="copyright-title">Copyright © {{ store.name }} {{ 'now' | date('Y') }}. {{ theme_configuration.lang.all_rights_reserved }}</p>
            <p class="copyright-subtitle">{{ theme_configuration.lang.not_afflied }}</p>
        </div>
        <a href="https://discord.gg/YTt8GWR" target="_blank" class="designed-by"><svg width="19.52" height="22.4"
                viewBox="0 0 19.52 22.4" xmlns="http://www.w3.org/2000/svg">
                <g stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.25mm"
                    fill="none" style="stroke:#000;stroke-width:0.25mm;fill:none"><svg width="17.08" height="19.6"
                        viewBox="0 0 17.08 19.6" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000"
                            stroke-width="0.25mm" fill="none" style="stroke:#000;stroke-width:0.25mm;fill:none">
                            <path
                                d="M 6.272 19.6 L 6.272 3.696 L 0 3.696 L 0 0 L 17.08 0 L 17.08 3.696 L 10.808 3.696 L 10.808 19.6 L 6.272 19.6 Z"
                                vector-effect="non-scaling-stroke">
                            </path>
                        </g>
                    </svg></g>
            </svg></a>
    </div>
</div>